.grid-container {
  margin: 10% auto;
}

.grid {
  white-space: pre;
}

button {
  margin: 2px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
